.container-footer {
    .footer-wrapper {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        color: black;
        text-align: center;
        padding: 1rem 0%;
        background-image: linear-gradient(to bottom, #ffffff , rgb(145, 225, 255));
    }
}