.container-home {
    
    .text-home {
        width: 50%;
        text-align: center;
        margin-left: 37%;
        padding: 20px 170px;
        right: 0%;
        font-size: 20px;
    }

    .container-home-bottom {
        display: flex;
        // margin: 0% 0%;

        .container-home-bottom-left {
            // background-color:rgb(182, 245, 11);
            display: flex;
            flex-direction: column;
            width: 150%;
            
            .container-home-bottom-left-text {
                // background-color: yellow;
                font-style: italic;
                text-align: center;
                font-size: 20px;
                margin: 5%;
            }

            .container-home-bottom-left-img{
                width: 100%;
                height: auto;
                position: relative;
                top: 1%;
            }
        }

        .container-home-bottom-right {
            display: flex;
            justify-content: flex-end;

            .container-home-bottom-right-img {
                width: 47%;
                height: auto;
                position: relative;
            }
        }
    }
}
